html,body{width:100%;height:100%;margin:0;}
#background
{
	width:100%;
	height:100%;
	background:crimson;
	text-align: center;
	overflow: hidden;
}
.headLine
{
	margin: 20px;
	padding: 20px;
	font-size: 62px;
  	font-family: Open Sans;
  	color: #f2f2f2;
}
#grid {
	width: 425px;
	height: 425px;
	background: #66FFCC;
	display: block;
	margin: 0 auto;
	border-radius: 8px;
	padding: 5px;
}
table {
	border: none;
	border-spacing: 5px;
}
td {
	padding: 50px;
	background: green;
	border: none;
	border-radius: 10px;
}
